{
  "openapi": "3.1.0",
  "info": {
    "title": "rest-api",
    "version": "2"
  },
  "servers": [
    {
      "url": "https://api.fulcrumapp.com/api",
      "description": "United States"
    },
    {
      "url": "https://api.fulcrumapp-au.com/api",
      "description": "Australia"
    },
    {
      "url": "https://api.fulcrumapp-ca.com/api",
      "description": "Canada"
    },
    {
      "url": "https://api.fulcrumapp-eu.com/api",
      "description": "European Union"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiToken": {
        "type": "apiKey",
        "in": "header",
        "name": "X-ApiToken"
      }
    },
    "schemas": {
      "RecordsResponse": {
        "type": "object",
        "required": [
          "current_page",
          "total_pages",
          "total_count",
          "per_page",
          "records"
        ],
        "properties": {
          "current_page": {
            "type": "integer",
            "minimum": 1
          },
          "total_pages": {
            "type": "integer",
            "minimum": 0
          },
          "total_count": {
            "type": "integer",
            "minimum": 0
          },
          "per_page": {
            "type": "integer",
            "minimum": 1
          },
          "records": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Record"
            }
          }
        }
      },
      "Record": {
        "type": "object",
        "properties": {
          "status": {
            "type": [
              "null",
              "string"
            ]
          },
          "version": {
            "type": "integer"
          },
          "id": {
            "type": "string",
            "pattern": "^[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}$"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "client_created_at": {
            "type": [
              "null",
              "string"
            ],
            "format": "date-time"
          },
          "client_updated_at": {
            "type": [
              "null",
              "string"
            ],
            "format": "date-time"
          },
          "created_by": {
            "type": "string"
          },
          "created_by_id": {
            "type": "string",
            "pattern": "^[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}$"
          },
          "updated_by": {
            "type": "string"
          },
          "updated_by_id": {
            "type": "string",
            "pattern": "^[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}$"
          },
          "created_location": {
            "type": [
              "null",
              "string"
            ]
          },
          "updated_location": {
            "type": [
              "null",
              "string"
            ]
          },
          "created_duration": {
            "type": [
              "null",
              "number"
            ]
          },
          "updated_duration": {
            "type": [
              "null",
              "number"
            ]
          },
          "edited_duration": {
            "type": [
              "null",
              "number"
            ]
          },
          "form_id": {
            "type": "string",
            "pattern": "^[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}$"
          },
          "project_id": {
            "type": [
              "null",
              "string"
            ]
          },
          "record_series_id": {
            "type": [
              "null",
              "string"
            ]
          },
          "assigned_to": {
            "type": [
              "null",
              "string"
            ]
          },
          "assigned_to_id": {
            "type": [
              "null",
              "string"
            ]
          },
          "form_values": {
            "type": "object",
            "additionalProperties": true,
            "description": "Field values keyed by field key - values can be strings, objects, or arrays depending on field type"
          },
          "latitude": {
            "type": [
              "null",
              "number"
            ]
          },
          "longitude": {
            "type": [
              "null",
              "number"
            ]
          },
          "altitude": {
            "type": [
              "null",
              "number"
            ]
          },
          "geometry": {
            "$ref": "#/components/schemas/Geometry"
          },
          "speed": {
            "type": [
              "null",
              "number"
            ]
          },
          "course": {
            "type": [
              "null",
              "number"
            ]
          },
          "horizontal_accuracy": {
            "type": [
              "null",
              "number"
            ]
          },
          "vertical_accuracy": {
            "type": [
              "null",
              "number"
            ]
          },
          "system_status": {
            "type": [
              "null",
              "string"
            ]
          }
        }
      },
      "AttachmentCreateRequest": {
        "type": "object",
        "required": [
          "attachment"
        ],
        "additionalProperties": false,
        "properties": {
          "attachment": {
            "type": "object",
            "required": [
              "owners"
            ],
            "properties": {
              "owners": {
                "type": "array",
                "description": "Array of owner objects for the attachment",
                "items": {
                  "type": "object",
                  "required": [
                    "type",
                    "id"
                  ],
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Type of the owner (e.g., 'record', 'form')"
                    },
                    "id": {
                      "type": "string",
                      "description": "Identifier of the owner"
                    }
                  }
                }
              },
              "name": {
                "type": "string",
                "description": "Name of the attachment"
              },
              "file_size": {
                "type": "integer",
                "description": "Size of the file in bytes"
              },
              "metadata": {
                "type": "object",
                "description": "Optional metadata for the attachment",
                "additionalProperties": true
              }
            }
          }
        }
      },
      "AttachmentTrackRequest": {
        "type": "object",
        "required": [
          "attachment"
        ],
        "additionalProperties": false,
        "properties": {
          "attachment": {
            "type": "object",
            "required": [
              "id"
            ],
            "additionalProperties": false,
            "properties": {
              "id": {
                "type": "string",
                "description": "Identifier of the attachment"
              },
              "owners": {
                "type": "array",
                "description": "Array of owner objects for the attachment",
                "items": {
                  "type": "object",
                  "required": [
                    "type",
                    "id"
                  ],
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Type of the owner (e.g., 'record', 'form')"
                    },
                    "id": {
                      "type": "string",
                      "description": "Identifier of the owner"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "AuthorizationRequest": {
        "type": "object",
        "properties": {
          "authorization": {
            "type": "object",
            "properties": {
              "organization_id": {
                "type": "string",
                "description": "ID of the organization"
              },
              "note": {
                "type": "string",
                "description": "Note about this authorization"
              },
              "timeout": {
                "type": "integer",
                "description": "Timeout in milliseconds"
              }
            },
            "required": [
              "organization_id"
            ]
          }
        },
        "required": [
          "authorization"
        ]
      },
      "BadRequestResponse": {
        "type": "object",
        "description": "Bad request error response",
        "properties": {
          "error": {
            "type": "string",
            "example": "Bad Request"
          },
          "status": {
            "type": "integer",
            "example": 400
          }
        }
      },
      "BatchAddOperationsRequest": {
        "type": "object",
        "required": [
          "operations"
        ],
        "additionalProperties": false,
        "properties": {
          "operations": {
            "type": "array",
            "minItems": 1,
            "description": "Operations to append to the batch",
            "items": {
              "type": "object",
              "required": [
                "action",
                "resource"
              ],
              "properties": {
                "action": {
                  "type": "string",
                  "description": "Action to perform for the operation",
                  "enum": [
                    "delete"
                  ]
                },
                "resource": {
                  "type": "string",
                  "description": "Resource type the operation targets",
                  "enum": [
                    "record"
                  ]
                },
                "form_id": {
                  "type": "string",
                  "description": "Identifier of the form containing the records"
                },
                "record_id": {
                  "type": "string",
                  "description": "Identifier of the record to delete"
                }
              }
            }
          }
        }
      },
      "BatchCreateRequest": {
        "type": "object",
        "required": [
          "batch"
        ],
        "additionalProperties": false,
        "properties": {
          "batch": {
            "type": "object",
            "required": [
              "operations"
            ],
            "properties": {
              "start": {
                "type": "boolean",
                "description": "Whether the batch should begin processing immediately"
              },
              "operations": {
                "type": "array",
                "minItems": 1,
                "description": "Operations that will be executed as part of the batch",
                "items": {
                  "type": "object",
                  "required": [
                    "action",
                    "resource"
                  ],
                  "properties": {
                    "action": {
                      "type": "string",
                      "description": "Action to perform for the operation",
                      "enum": [
                        "delete"
                      ]
                    },
                    "resource": {
                      "type": "string",
                      "description": "Resource type the operation targets",
                      "enum": [
                        "record"
                      ]
                    },
                    "form_id": {
                      "type": "string",
                      "description": "Identifier of the form containing the records"
                    },
                    "record_id": {
                      "type": "string",
                      "description": "Identifier of the record to delete"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ChangesetCreateRequest": {
        "type": "object",
        "required": [
          "changeset"
        ],
        "additionalProperties": false,
        "properties": {
          "changeset": {
            "type": "object",
            "properties": {
              "form_id": {
                "type": "string",
                "description": "Identifier of the form the changeset applies to"
              },
              "metadata": {
                "type": "object",
                "description": "Optional metadata describing the changeset",
                "additionalProperties": true,
                "properties": {
                  "comment": {
                    "type": "string"
                  },
                  "app_created_by": {
                    "type": "string"
                  },
                  "app_name": {
                    "type": "string"
                  }
                }
              }
            },
            "required": [
              "form_id"
            ],
            "additionalProperties": true
          }
        }
      },
      "ChangesetRequest": {
        "type": "object",
        "required": [
          "changeset"
        ],
        "additionalProperties": false,
        "properties": {
          "changeset": {
            "type": "object",
            "properties": {
              "form_id": {
                "type": "string",
                "description": "Identifier of the form the changeset applies to"
              },
              "metadata": {
                "type": "object",
                "description": "Optional metadata describing the changeset",
                "additionalProperties": true,
                "properties": {
                  "comment": {
                    "type": "string"
                  },
                  "app_created_by": {
                    "type": "string"
                  },
                  "app_name": {
                    "type": "string"
                  }
                }
              }
            },
            "required": [
              "form_id"
            ],
            "additionalProperties": true
          }
        }
      },
      "ChoiceListRequest": {
        "type": "object",
        "properties": {
          "choice_list": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "Name of the choice list"
              },
              "description": {
                "type": "string",
                "description": "Description of the choice list"
              },
              "choices": {
                "type": "array",
                "description": "Array of choices",
                "items": {
                  "type": "object",
                  "properties": {
                    "label": {
                      "type": "string",
                      "description": "Display label"
                    },
                    "value": {
                      "type": "string",
                      "description": "Value stored"
                    }
                  },
                  "required": [
                    "label",
                    "value"
                  ]
                }
              }
            },
            "required": [
              "name",
              "choices"
            ]
          }
        },
        "required": [
          "choice_list"
        ]
      },
      "ClassificationSetRequest": {
        "type": "object",
        "properties": {
          "classification_set": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "Name of the classification set"
              },
              "description": {
                "type": "string",
                "description": "Description of the classification set"
              },
              "items": {
                "type": "array",
                "description": "Classification items with hierarchical structure",
                "items": {
                  "type": "object",
                  "properties": {
                    "label": {
                      "type": "string",
                      "description": "Display label"
                    },
                    "value": {
                      "type": "string",
                      "description": "Value stored"
                    },
                    "child_classifications": {
                      "type": "array",
                      "description": "Child classification items",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "required": [
                    "label",
                    "value"
                  ]
                }
              }
            },
            "required": [
              "name",
              "items"
            ]
          }
        },
        "required": [
          "classification_set"
        ]
      },
      "EmptySuccessResponse": {
        "type": "object",
        "description": "Empty success response",
        "properties": {}
      },
      "FormRequest": {
        "type": "object",
        "properties": {
          "form": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "Name of the form"
              },
              "description": {
                "type": "string",
                "description": "Description of the form"
              },
              "elements": {
                "type": "array",
                "description": "Form elements/fields",
                "items": {
                  "type": "object"
                }
              }
            }
          }
        },
        "required": [
          "form"
        ]
      },
      "Geometry": {
        "type": "object",
        "required": [
          "type",
          "coordinates"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "Point",
              "LineString",
              "Polygon",
              "MultiPoint",
              "MultiLineString",
              "MultiPolygon"
            ],
            "description": "GeoJSON geometry type"
          },
          "coordinates": {
            "description": "Coordinates for the geometry. Format varies by type: Point uses [longitude, latitude], LineString uses array of positions, Polygon uses array of linear rings (first is exterior, rest are holes), Multi* types use arrays of their respective coordinate structures."
          }
        }
      },
      "GroupCreateRequest": {
        "type": "object",
        "required": [
          "group"
        ],
        "additionalProperties": false,
        "properties": {
          "group": {
            "type": "object",
            "required": [
              "name"
            ],
            "properties": {
              "name": {
                "type": "string",
                "description": "Name of the group"
              },
              "description": {
                "type": "string",
                "description": "Optional description of the group"
              }
            }
          }
        }
      },
      "GroupPermissionChangeRequest": {
        "type": "object",
        "required": [
          "permission_change"
        ],
        "additionalProperties": false,
        "properties": {
          "permission_change": {
            "type": "object",
            "required": [
              "type",
              "group_id"
            ],
            "properties": {
              "type": {
                "type": "string",
                "description": "Type of permission to change",
                "enum": [
                  "group_members",
                  "group_projects",
                  "group_layers",
                  "group_forms"
                ]
              },
              "group_id": {
                "type": "string",
                "description": "Identifier of the group"
              },
              "add": {
                "type": "array",
                "description": "IDs to add to the permission",
                "items": {
                  "type": "string"
                }
              },
              "remove": {
                "type": "array",
                "description": "IDs to remove from the permission",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "GroupUpdateRequest": {
        "type": "object",
        "required": [
          "group"
        ],
        "additionalProperties": false,
        "properties": {
          "group": {
            "type": "object",
            "minProperties": 1,
            "additionalProperties": false,
            "properties": {
              "name": {
                "type": "string",
                "description": "Updated name of the group"
              },
              "description": {
                "type": "string",
                "description": "Updated description of the group"
              }
            }
          }
        }
      },
      "LayerRequest": {
        "type": "object",
        "properties": {
          "layer": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "Name of the layer"
              },
              "description": {
                "type": "string",
                "description": "Description of the layer"
              },
              "type": {
                "type": "string",
                "description": "Layer type (e.g., xyz, wms, geojson)"
              },
              "source": {
                "type": "string",
                "description": "Source URL or data for the layer"
              }
            },
            "required": [
              "name",
              "type"
            ]
          }
        },
        "required": [
          "layer"
        ]
      },
      "MembershipCreateRequest": {
        "type": "object",
        "properties": {
          "membership": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "format": "email",
                "description": "Email address of the member"
              },
              "first_name": {
                "type": "string",
                "description": "First name"
              },
              "last_name": {
                "type": "string",
                "description": "Last name"
              },
              "role_id": {
                "type": "string",
                "description": "ID of the role to assign"
              }
            },
            "required": [
              "email"
            ]
          }
        },
        "required": [
          "membership"
        ]
      },
      "MembershipDeleteRequest": {
        "type": "object",
        "properties": {
          "membership": {
            "type": "object",
            "properties": {
              "reassign_to_membership_id": {
                "type": "string",
                "nullable": true,
                "description": "ID of the membership to reassign ownership to, or null"
              }
            }
          }
        }
      },
      "MembershipUpdateRequest": {
        "type": "object",
        "properties": {
          "membership": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "format": "email",
                "description": "Email address of the member"
              }
            }
          }
        }
      },
      "NotFoundResponse": {
        "type": "object",
        "description": "Resource not found error response",
        "properties": {}
      },
      "PermissionChangeRequest": {
        "type": "object",
        "properties": {
          "change": {
            "type": "object",
            "description": "Permission change configuration",
            "properties": {
              "type": {
                "type": "string",
                "description": "Type of permission change",
                "enum": [
                  "form_members",
                  "project_members",
                  "layer_members"
                ]
              },
              "form_id": {
                "type": "string",
                "description": "Form ID (when type is form_members)"
              },
              "project_id": {
                "type": "string",
                "description": "Project ID (when type is project_members)"
              },
              "layer_id": {
                "type": "string",
                "description": "Layer ID (when type is layer_members)"
              },
              "add": {
                "type": "array",
                "description": "Array of member IDs to add",
                "items": {
                  "type": "string"
                }
              },
              "remove": {
                "type": "array",
                "description": "Array of member IDs to remove",
                "items": {
                  "type": "string"
                }
              }
            },
            "required": [
              "type"
            ]
          }
        },
        "required": [
          "change"
        ]
      },
      "ProjectRequest": {
        "type": "object",
        "properties": {
          "project": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "Name of the project"
              },
              "description": {
                "type": "string",
                "description": "Description of the project"
              }
            },
            "required": [
              "name"
            ]
          }
        },
        "required": [
          "project"
        ]
      },
      "QueryRequest": {
        "type": "object",
        "properties": {
          "q": {
            "type": "string",
            "description": "SQL query to execute"
          },
          "format": {
            "type": "string",
            "description": "Response format",
            "enum": [
              "json",
              "csv",
              "geojson"
            ]
          },
          "table_name": {
            "type": "string",
            "description": "Name of the table to query"
          }
        },
        "required": [
          "q"
        ]
      },
      "RecordRequest": {
        "type": "object",
        "properties": {
          "record": {
            "type": "object",
            "properties": {
              "form_id": {
                "type": "string",
                "description": "ID of the form this record belongs to"
              },
              "latitude": {
                "type": "number",
                "description": "Latitude coordinate"
              },
              "longitude": {
                "type": "number",
                "description": "Longitude coordinate"
              },
              "geometry": {
                "$ref": "#/components/schemas/Geometry",
                "description": "Optional GeoJSON geometry (Point, LineString, Polygon, MultiLineString, or MultiPolygon). If provided, latitude/longitude will be updated to reflect this geometry."
              },
              "form_values": {
                "type": "object",
                "description": "Field values keyed by field key",
                "additionalProperties": true
              },
              "status": {
                "type": "string",
                "description": "Status of the record"
              },
              "project_id": {
                "type": "string",
                "description": "ID of the project"
              },
              "assigned_to_id": {
                "type": "string",
                "description": "ID of user assigned to this record"
              }
            },
            "required": [
              "form_id"
            ]
          }
        },
        "required": [
          "record"
        ]
      },
      "ReportTemplateRequest": {
        "type": "object",
        "required": [
          "report_template"
        ],
        "properties": {
          "report_template": {
            "type": "object",
            "required": [
              "name",
              "body",
              "header",
              "footer",
              "styles",
              "script",
              "status",
              "type",
              "config"
            ],
            "properties": {
              "name": {
                "type": "string",
                "description": "The name of the report template"
              },
              "description": {
                "type": "string",
                "description": "A description of the report template"
              },
              "body": {
                "type": "string",
                "description": "The HTML/EJS template for the report body"
              },
              "header": {
                "type": "string",
                "description": "The HTML/EJS template for the report header"
              },
              "footer": {
                "type": "string",
                "description": "The HTML/EJS template for the report footer"
              },
              "styles": {
                "type": "string",
                "description": "CSS styles for the report"
              },
              "script": {
                "type": "string",
                "description": "JavaScript code for the report"
              },
              "status": {
                "type": "string",
                "enum": [
                  "active",
                  "inactive"
                ],
                "description": "The status of the report template"
              },
              "type": {
                "type": "string",
                "enum": [
                  "advanced",
                  "simple"
                ],
                "description": "The type of the report template"
              },
              "form_id": {
                "type": "string",
                "description": "The ID of the form this report template is associated with"
              },
              "filename_pattern": {
                "type": "string",
                "description": "Pattern for generating report filenames"
              },
              "config": {
                "type": "object",
                "required": [
                  "size",
                  "landscape",
                  "margin_top",
                  "margin_right",
                  "margin_bottom",
                  "margin_left",
                  "output",
                  "parameters"
                ],
                "description": "Configuration settings for the report",
                "properties": {
                  "size": {
                    "type": "string",
                    "enum": [
                      "Letter",
                      "Legal",
                      "Tabloid",
                      "Ledger",
                      "A3",
                      "A4"
                    ],
                    "description": "Page size for the report"
                  },
                  "landscape": {
                    "type": "boolean",
                    "description": "Whether to use landscape orientation"
                  },
                  "margin_top": {
                    "type": "number",
                    "description": "Top margin in inches"
                  },
                  "margin_right": {
                    "type": "number",
                    "description": "Right margin in inches"
                  },
                  "margin_bottom": {
                    "type": "number",
                    "description": "Bottom margin in inches"
                  },
                  "margin_left": {
                    "type": "number",
                    "description": "Left margin in inches"
                  },
                  "output": {
                    "type": "string",
                    "enum": [
                      "pdf",
                      "docx"
                    ],
                    "description": "Output format"
                  },
                  "hidden_fields": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The list of fields to be hidden in the report"
                  },
                  "field.empty_value": {
                    "type": "string",
                    "description": "The value to display for empty fields"
                  },
                  "header.enabled": {
                    "type": "boolean",
                    "description": "Whether the header is enabled"
                  },
                  "header.form.name": {
                    "type": "boolean",
                    "description": "Whether the form name is included in the header"
                  },
                  "header.record.id": {
                    "type": "boolean",
                    "description": "Whether the record ID is included in the header"
                  },
                  "footer.enabled": {
                    "type": "boolean",
                    "description": "Whether the footer is enabled"
                  },
                  "footer.timestamp": {
                    "type": "boolean",
                    "description": "Whether the timestamp is included in the footer"
                  },
                  "footer.organization_image": {
                    "type": "boolean",
                    "description": "Whether the organization image is included in the footer"
                  },
                  "footer.organization_info": {
                    "type": "boolean",
                    "description": "Whether the organization info is included in the footer"
                  },
                  "footer.page_number": {
                    "type": "boolean",
                    "description": "Whether the page number is included in the footer"
                  },
                  "cover_page.enabled": {
                    "type": "boolean",
                    "description": "Whether the cover page is enabled"
                  },
                  "cover_page.form.name": {
                    "type": "boolean",
                    "description": "Whether the form name is included on the cover page"
                  },
                  "cover_page.form.description": {
                    "type": "boolean",
                    "description": "Whether the form description is included on the cover page"
                  },
                  "cover_page.form.image": {
                    "type": "boolean",
                    "description": "Whether the form image is included on the cover page"
                  },
                  "cover_page.title": {
                    "type": "boolean",
                    "description": "Whether the cover page title is included"
                  },
                  "cover_page.timestamp": {
                    "type": "boolean",
                    "description": "Whether the timestamp is included on the cover page"
                  },
                  "cover_page.image.enabled": {
                    "type": "boolean",
                    "description": "Whether images are enabled on the cover page"
                  },
                  "cover_page.image.caption": {
                    "type": "boolean",
                    "description": "Whether captions are included for images on the cover page"
                  },
                  "cover_page.map.enabled": {
                    "type": "boolean",
                    "description": "Whether maps are enabled on the cover page"
                  },
                  "cover_page.map.repeatables": {
                    "type": "boolean",
                    "description": "Whether repeatable items are included on the cover page map"
                  },
                  "cover_page.map.type": {
                    "type": "string",
                    "description": "The type of map to use on the cover page (e.g., roadmap)"
                  },
                  "cover_page.map.size": {
                    "type": "string",
                    "description": "The size of the map on the cover page"
                  },
                  "cover_page.metadata.enabled": {
                    "type": "boolean",
                    "description": "Whether metadata is enabled on the cover page"
                  },
                  "cover_page.metadata.created": {
                    "type": "boolean",
                    "description": "Whether the creation metadata is included on the cover page"
                  },
                  "cover_page.metadata.updated": {
                    "type": "boolean",
                    "description": "Whether the update metadata is included on the cover page"
                  },
                  "cover_page.metadata.status": {
                    "type": "boolean",
                    "description": "Whether the status metadata is included on the cover page"
                  },
                  "cover_page.metadata.location": {
                    "type": "boolean",
                    "description": "Whether the location metadata is included on the cover page"
                  },
                  "cover_page.metadata.project": {
                    "type": "boolean",
                    "description": "Whether the project metadata is included on the cover page"
                  },
                  "cover_page.metadata.assigned": {
                    "type": "boolean",
                    "description": "Whether the assigned metadata is included on the cover page"
                  },
                  "parameters": {
                    "type": "array",
                    "description": "Array of parameter definitions",
                    "items": {
                      "type": "object",
                      "required": [
                        "name",
                        "label",
                        "type",
                        "required",
                        "multiple"
                      ],
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "Parameter name"
                        },
                        "label": {
                          "type": "string",
                          "description": "Display label for the parameter"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "record_id",
                            "choice_list",
                            "classification_set",
                            "project",
                            "text",
                            "number",
                            "date"
                          ],
                          "description": "Parameter type"
                        },
                        "required": {
                          "type": "boolean",
                          "description": "Whether the parameter is required"
                        },
                        "multiple": {
                          "type": "boolean",
                          "description": "Whether multiple values are allowed"
                        },
                        "options": {
                          "description": "Available options for the parameter - can be array, object, or null"
                        },
                        "query": {
                          "description": "Query to filter available options - can be string, object, or null"
                        },
                        "default": {
                          "description": "Default value(s) for the parameter - can be any type"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "UnauthorizedResponse": {
        "type": "object",
        "description": "Unauthorized error response",
        "properties": {
          "error": {
            "type": "string",
            "example": "Unauthorized"
          }
        }
      },
      "ValidationErrorResponse": {
        "type": "object",
        "description": "Validation error response (422 Unprocessable Entity)",
        "additionalProperties": true
      },
      "WebhookRequest": {
        "type": "object",
        "required": [
          "webhook"
        ],
        "additionalProperties": false,
        "properties": {
          "webhook": {
            "type": "object",
            "additionalProperties": false,
            "minProperties": 1,
            "required": [
              "name",
              "url"
            ],
            "properties": {
              "name": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Display name for the webhook"
              },
              "url": {
                "type": "string",
                "description": "Destination URL that will receive webhook payloads",
                "format": "uri"
              },
              "active": {
                "type": "boolean",
                "description": "Whether the webhook is enabled"
              },
              "run_for_bulk_actions": {
                "type": "boolean",
                "description": "Whether the webhook runs for bulk record actions"
              }
            }
          }
        }
      },
      "WorkflowCreateRequest": {
        "type": "object",
        "required": [
          "workflow"
        ],
        "additionalProperties": false,
        "properties": {
          "workflow": {
            "type": "object",
            "required": [
              "name",
              "object_type",
              "object_resource_id",
              "steps",
              "event_type"
            ],
            "properties": {
              "name": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Display name of the workflow"
              },
              "description": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Optional description of the workflow"
              },
              "object_type": {
                "type": "string",
                "description": "Type of object the workflow targets (for example, form)"
              },
              "object_resource_id": {
                "type": "string",
                "description": "Identifier of the object resource associated with the workflow"
              },
              "event_type": {
                "type": "string",
                "description": "Type of event that triggers the workflow"
              },
              "steps": {
                "type": "array",
                "description": "Steps that define the workflow logic",
                "items": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "WorkflowUpdateRequest": {
        "type": "object",
        "required": [
          "workflow"
        ],
        "additionalProperties": false,
        "properties": {
          "workflow": {
            "type": "object",
            "minProperties": 1,
            "properties": {
              "name": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Updated display name of the workflow"
              },
              "description": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Updated description of the workflow"
              },
              "object_type": {
                "type": "string",
                "description": "Updated object type targeted by the workflow"
              },
              "object_resource_id": {
                "type": "string",
                "description": "Updated identifier of the object resource associated with the workflow"
              },
              "active": {
                "type": "boolean",
                "description": "Whether the workflow is active"
              },
              "event_type": {
                "type": "string",
                "description": "Updated event type that triggers the workflow"
              },
              "steps": {
                "type": "array",
                "description": "Updated workflow steps",
                "items": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "records_schema": {
        "$schema": "http://json-schema.org/draft-07/schema#",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{24}$"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "client_created_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "client_updated_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "created_by": {
            "type": "string"
          },
          "created_by_id": {
            "type": "string",
            "pattern": "^[0-9a-f]{24}$"
          },
          "updated_by": {
            "type": "string"
          },
          "updated_by_id": {
            "type": "string",
            "pattern": "^[0-9a-f]{24}$"
          },
          "created_location": {
            "type": [
              "object",
              "null"
            ]
          },
          "updated_location": {
            "type": [
              "object",
              "null"
            ]
          },
          "created_duration": {
            "type": [
              "number",
              "null"
            ]
          },
          "updated_duration": {
            "type": [
              "number",
              "null"
            ]
          },
          "edited_duration": {
            "type": [
              "number",
              "null"
            ]
          },
          "form_id": {
            "type": "string",
            "pattern": "^[0-9a-f]{24}$"
          },
          "project_id": {
            "type": [
              "string",
              "null"
            ],
            "pattern": "^[0-9a-f]{24}$"
          },
          "record_series_id": {
            "type": [
              "string",
              "null"
            ],
            "pattern": "^[0-9a-f]{24}$"
          },
          "assigned_to": {
            "type": [
              "string",
              "null"
            ]
          },
          "assigned_to_id": {
            "type": [
              "string",
              "null"
            ],
            "pattern": "^[0-9a-f]{24}$"
          },
          "form_values": {
            "type": "object",
            "additionalProperties": true,
            "description": "Field values keyed by field key - values can be strings, numbers, booleans, objects, or arrays depending on field type"
          }
        },
        "required": [
          "id",
          "created_at",
          "updated_at",
          "created_by",
          "created_by_id",
          "updated_by",
          "updated_by_id",
          "form_id",
          "form_values"
        ]
      }
    }
  },
  "security": [
    {
      "ApiToken": []
    }
  ],
  "paths": {
    "/v2/query": {
      "get": {
        "summary": "GET Query",
        "description": "",
        "operationId": "query-get",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "The SQL query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "The format of the results returned by the query. Options include `csv`, `json`, `geojson`, `postgres`.",
            "schema": {
              "type": "string",
              "default": "csv"
            }
          },
          {
            "name": "headers",
            "in": "query",
            "description": "Include headers for csv format?",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "metadata",
            "in": "query",
            "description": "Include column metadata for `json` format?",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "arrays",
            "in": "query",
            "description": "Return row arrays instead of objects for `json` format?",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "table_name",
            "in": "query",
            "description": "Table name for `postgres` format. Defaults to query.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_column",
            "in": "query",
            "description": "The name of the column used to sort on.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_direction",
            "in": "query",
            "description": "The sort direction (asc, desc).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number requested",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20000
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "Application"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptySuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "summary": "POST Query",
        "description": "",
        "operationId": "query-post",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page number requested",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20000
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptySuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/users.json": {
      "get": {
        "summary": "Get User Information",
        "description": "",
        "operationId": "users-get-user",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page number requested",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20000
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptySuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/authorizations.json": {
      "get": {
        "summary": "Get All Authorizations",
        "description": "",
        "operationId": "authorizations-get-all",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page number requested",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20000
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptySuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "summary": "Create Authorization",
        "description": "",
        "operationId": "authorizations-create",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthorizationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptySuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/authorizations/{authorization_id}.json": {
      "get": {
        "summary": "Get Single Authorization",
        "description": "",
        "operationId": "authorizations-get-single",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "authorization_id",
            "in": "path",
            "description": "Authorization ID",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptySuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "summary": "Update Authorization",
        "description": "",
        "operationId": "authorizations-update",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "authorization_id",
            "in": "path",
            "description": "Authorization ID",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthorizationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptySuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "summary": "Delete Authorization",
        "description": "",
        "operationId": "authorizations-delete",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "authorization_id",
            "in": "path",
            "description": "Authorization ID",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptySuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/roles.json": {
      "get": {
        "summary": "Get All Roles",
        "description": "",
        "operationId": "roles-get-all",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page number requested",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20000
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort by role name. Default sort is by `updated_at` if sort is not provided",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_direction",
            "in": "query",
            "description": "The sort direction (asc, desc). Default is `asc`",
            "schema": {
              "type": "string",
              "default": "asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptySuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/memberships.json": {
      "get": {
        "summary": "Get All Memberships",
        "description": "",
        "operationId": "memberships-get-all",
        "parameters": [
          {
            "name": "form_id",
            "in": "query",
            "description": "Limit members to a specific Form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "query",
            "description": "Limit members to a specific Project",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "layer_id",
            "in": "query",
            "description": "Limit members to a specific Layer",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number requested",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20000
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptySuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "summary": "Create Member",
        "description": "",
        "operationId": "create-member",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MembershipCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptySuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/memberships/{membership_id}.json": {
      "get": {
        "summary": "Get Single Membership",
        "description": "",
        "operationId": "memberships-get-single",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "membership_id",
            "in": "path",
            "description": "Membership ID",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptySuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "summary": "Update Member",
        "description": "You can use this to update parameters of a member, but this will not work if the member is apart of multiple organizations.",
        "operationId": "update-member",
        "parameters": [
          {
            "name": "membership_id",
            "in": "path",
            "description": "The ID of the member",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MembershipUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptySuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "summary": "Delete Member",
        "description": "",
        "operationId": "delete-member",
        "parameters": [
          {
            "name": "membership_id",
            "in": "path",
            "description": "The ID of the member",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MembershipDeleteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptySuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/permissions.json": {
      "get": {
        "summary": "Get Membership Permissions",
        "description": "",
        "operationId": "get-all-memberships",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "The type of permission (member_forms, member_layers, member_projects, form_members, layer_members, or project_members)",
            "required": true,
            "schema": {
              "type": "string",
              "default": "member_projects"
            }
          },
          {
            "name": "object_id",
            "in": "query",
            "description": "The membership_id of the user or the id of the form, layer or project",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number requested",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20000
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptySuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/memberships/change_permissions.json": {
      "post": {
        "summary": "Change Permissions",
        "description": "Add or remove membership permissions from layers, forms, or projects",
        "operationId": "memberships-change-permissions",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PermissionChangeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptySuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/groups.json": {
      "get": {
        "summary": "Get All Groups",
        "description": "",
        "operationId": "get-all-groups",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "20000"
            }
          },
          {
            "name": "associations",
            "in": "query",
            "description": "Set to `true` in order to see each group's assigned `member_ids`, `layer_ids`, `project_ids` and `form_ids`",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptySuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "summary": "Create Group",
        "description": "",
        "operationId": "create-group",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"group\": {\n        \"name\": \"Name of group\",\n        \"description\": \"Hello group!\",\n        \"id\": \"32185076-6d5a-4bb9-89f0-f049093ed800\"\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "group": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "example": "Name of group"
                        },
                        "description": {
                          "type": "string",
                          "example": "Hello group!"
                        },
                        "id": {
                          "type": "string",
                          "example": "32185076-6d5a-4bb9-89f0-f049093ed800"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/groups/{group_id}.json": {
      "get": {
        "summary": "Get Single Group",
        "description": "",
        "operationId": "get-single-group",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "group_id",
            "in": "path",
            "description": "Group ID",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "associations",
            "in": "query",
            "description": "Set to `true` in order to see each group's assigned `member_ids`, `layer_ids`, `project_ids` and `form_ids`",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptySuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "summary": "Update Group Name / Description",
        "description": "",
        "operationId": "update-group-name-description",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "group_id",
            "in": "path",
            "description": "ID of the group",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"group\": {\n        \"name\": \"Name of group\",\n        \"description\": \"Hello group!\",\n        \"id\": \"32185076-6d5a-4bb9-89f0-f049093ed800\"\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "group": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "example": "Name of group"
                        },
                        "description": {
                          "type": "string",
                          "example": "Hello group!"
                        },
                        "id": {
                          "type": "string",
                          "example": "32185076-6d5a-4bb9-89f0-f049093ed800"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "summary": "Delete Group",
        "description": "",
        "operationId": "delete-group",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "group_id",
            "in": "path",
            "description": "ID of the group",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptySuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/groups/{group_id}/{resource}.json": {
      "get": {
        "summary": "Get Group Resource",
        "description": "",
        "operationId": "get-group-resource",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "group_id",
            "in": "path",
            "description": "Group ID",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "resource",
            "in": "path",
            "description": "One of `members`, `projects`, `layers` or `forms`",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page of the response",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Amount of items in every page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptySuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/groups/change_permissions.json": {
      "post": {
        "summary": "Update Group Permissions",
        "description": "",
        "operationId": "update-group-permissions",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupPermissionChangeRequest"
              },
              "examples": {
                "Change Group Members": {
                  "value": {
                    "change": {
                      "type": "group_members",
                      "group_id": "{{group_id}}",
                      "add": [],
                      "remove": [
                        "81ad0f14-35a8-4be0-8ca0-83ea93947987"
                      ]
                    }
                  }
                },
                "Change Group Projects": {
                  "value": {
                    "change": {
                      "type": "group_projects",
                      "group_id": "{{group_id}}",
                      "add": [
                        "d765a9ef-e233-400d-889d-4f81eb31d8a7"
                      ],
                      "remove": []
                    }
                  }
                },
                "Change Group Layers": {
                  "value": {
                    "change": {
                      "type": "group_layers",
                      "group_id": "{{group_id}}",
                      "add": [
                        "dc37b767-a160-47d3-ac58-b11432e5860d"
                      ],
                      "remove": []
                    }
                  }
                },
                "Change Group Forms": {
                  "value": {
                    "change": {
                      "type": "group_forms",
                      "group_id": "{{group_id}}",
                      "add": [
                        "4d6f87d2-0dc3-4eb6-a065-9ac595173424"
                      ],
                      "remove": []
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"group\": {\n        \"name\": \"Name of group\",\n        \"description\": \"Hello group!\",\n        \"id\": \"32185076-6d5a-4bb9-89f0-f049093ed800\"\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "group": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "example": "Name of group"
                        },
                        "description": {
                          "type": "string",
                          "example": "Hello group!"
                        },
                        "id": {
                          "type": "string",
                          "example": "32185076-6d5a-4bb9-89f0-f049093ed800"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/forms.json": {
      "get": {
        "summary": "Get All Forms",
        "description": "",
        "operationId": "forms-get-all",
        "parameters": [
          {
            "name": "schema",
            "in": "query",
            "description": "schema=false will only return the form metadata",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number requested",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20000
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Types of forms to return",
            "schema": {
              "type": "string",
              "enum": [
                "organization",
                "system",
                "all"
              ],
              "default": "organization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptySuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "summary": "Create Form",
        "description": "",
        "operationId": "forms-create",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FormRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptySuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/forms/{form_id}.json": {
      "get": {
        "summary": "Get Single Form",
        "description": "",
        "operationId": "forms-get-single",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "schema",
            "in": "query",
            "description": "schema=false will only return the form metadata",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "form_id",
            "in": "path",
            "description": "Form ID",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptySuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "summary": "Update Form",
        "description": "",
        "operationId": "forms-update",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "form_id",
            "in": "path",
            "description": "Form ID",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FormRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptySuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "summary": "Delete Form",
        "description": "",
        "operationId": "forms-delete",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "form_id",
            "in": "path",
            "description": "Form ID",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptySuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
[...]
